.page-section {
    display:none; /* 基本は非表示 */
}

.page-section.active {
    display: block;
}

h1 {
    text-align: center;
}

h1 span.ai-red {
    color: red;
}

#url-input-section input[type=url],
#url-input-section button{
    display: block;
    margin: 10px auto;
}

#page-header{
    position: relative;
    padding: 10px;
}

#setting-button {
    width: 24px;
    height: 24px;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}